#Div1 {
  background-color: lightblue;
  display: inline-block;
  width: 100%;
}

#Div2 {
  background-image: url("https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg");
  display: inline-block;
  width: 100%;
  color: white;
}

#Div3 {
  background-color: lightblue;
  display: inline-block;
  width: 100%;
}

a:hover {
  background-color: white;
}

h2 {
  scroll-margin-top: 220px;
  font-size: 28px;
}

ul {
  max-width: 400px;
}

li {
  font-size: 28px;
  background-color: #182b49;
}




.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  width: 100%;
}

.grid-item {
  padding: 20px;
  color: white;
  max-height: 500px;
  overflow: scroll;
  background-color: #182b49
  text-align: center;
}

  /**/

img {
  max-width: 100%;
}






#navbar {
  position: sticky;
  top: 0;		   
  
  background-color: white;
}

/* Navbar links */
#navbar li {
  scroll-margin-top: 220px;
  //float: left;
  //display: block;
  //color: #f2f2f2;
  //text-align: center;
  //padding: 14px;
  //text-decoration: none;
}







@media screen and not (min-width: 80rem) {
  ul {
    display: none;
  }

#Logo {
  max-width: 75%;

}

h2 {
  font-size: 24px;
}

#Div1 {
  font-size: 20px;
}

#Div2 {
  font-size: 20px;
}

#Div3 {
  font-size: 20px;
}

.grid-container {
    grid-template-columns: repeat(2, 2fr);
}

}